<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <main class="container">
        <div class="intro">
            “Money can’t buy happiness, but it can make you awfully comfortable
            while you’re being miserable.”
            — Clare Boothe Luce
        </div>
        <p>Suma: <span th:text="${biudzetoSuma}"></span></p>
        <div class="row-big">
            <a href="/sukurti">Sukurti biudžetą</a>
            <a href="/visi">Visi biudžetai</a>
            <a href="/sukurtiislaidas">Sukurti islaidas</a>
            <a href="/visosislaidos">Visos islaidos</a>
        </div>
    </main>

</body>
</html>